# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# C extensions
*.obj
*.o
*.dll
*.so
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.txt
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
htmlcov/
.pytest_cache/

# Editor directories and files
.vscode/
.idea/

# Environment
.env
.venv
env/
venv/
mutants/mutmut-stats.json
*.pdf
*.aux
*.log
dokumentacja.fdb_latexmk
dokumentacja.fls
dokumentacja.out
dokumentacja.synctex.gz
dokumentacja.toc
kapcza_app/main.bbl
kapcza_app/main.bcf
kapcza_app/main.blg
kapcza_app/main.fdb_latexmk
kapcza_app/main.fls
kapcza_app/main.pdf
kapcza_app/main.synctex.gz
kapcza_app/main.synctex.gz
kapcza_app/main.pdf
kapcza_app/main.fls
kapcza_app/main.fdb_latexmk
kapcza_app/main.blg
kapcza_app/main.bcf
kapcza_app/main.bbl
